<a href="https://colab.research.google.com/github/dhyey510/Ds_PR2/blob/main/18IT030.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("melb_data.csv")

In [4]:
data.head()

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

## Encoding

In [6]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder

In [8]:
data['Suburb'].value_counts()

Reservoir             359
Richmond              260
Bentleigh East        249
Preston               239
Brunswick             222
                     ...
Bullengarook            1
Beaconsfield Upper      1
Sandhurst               1
Montrose                1
Attwood                 1
Name: Suburb, Length: 314, dtype: int64

# Label Encoding

In [10]:
le = LabelEncoder()
data['Suburb'] = le.fit_transform(data['Suburb'])

In [11]:
data['Suburb'].value_counts()

236    359
237    260
30     249
234    239
46     222
      ...
26       1
201      1
19       1
115      1
198      1
Name: Suburb, Length: 314, dtype: int64

In [12]:
le.classes_

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313])

## ONE HOT ENCODER

In [13]:
data['Type'].value_counts()

h    9449
u    3017
t    1114
Name: Type, dtype: int64

In [14]:
one_hot = OneHotEncoder()
transformed_data = one_hot.fit_transform(data['Type'].values.reshape(-1,1)).toarray()

In [15]:
one_hot.categories_

[array(['h', 't', 'u'], dtype=object)]

In [16]:
transformed_data = pd.DataFrame(transformed_data , 
                                columns = ['h', 't', 'u'])

In [17]:
transformed_data.head()

     h    t    u
0  1.0  0.0  0.0
1  1.0  0.0  0.0
2  1.0  0.0  0.0
3  1.0  0.0  0.0
4  1.0  0.0  0.0

In [18]:
transformed_data.iloc[90 , ]

h    1.0
t    0.0
u    0.0
Name: 90, dtype: float64

In [19]:
data['Type'][90]

'h'

## Normalization & Standardization

In [21]:
numeric_columns = [c for c in data.columns if data[c].dtype != np.dtype('O')]

In [22]:
len(numeric_columns) , len(data.columns)

(14, 21)

In [23]:
len(numeric_columns) , len(data.columns)

(14, 21)

In [24]:

numeric_columns.remove('BuildingArea')
numeric_columns.remove('YearBuilt')

In [25]:
temp_data = data[numeric_columns]

In [26]:
temp_data

       Suburb  Rooms      Price  ...  Lattitude  Longtitude  Propertycount
0           0      2  1480000.0  ...  -37.79960   144.99840         4019.0
1           0      2  1035000.0  ...  -37.80790   144.99340         4019.0
2           0      3  1465000.0  ...  -37.80930   144.99440         4019.0
3           0      3   850000.0  ...  -37.79690   144.99690         4019.0
4           0      4  1600000.0  ...  -37.80720   144.99410         4019.0
...       ...    ...        ...  ...        ...         ...            ...
13575     302      4  1245000.0  ...  -37.90562   145.16761         7392.0
13576     305      3  1031000.0  ...  -37.85927   144.87904         6380.0
13577     305      3  1170000.0  ...  -37.85274   144.88738         6380.0
13578     305      4  2500000.0  ...  -37.85908   144.89299         6380.0
13579     313      4  1285000.0  ...  -37.81188   144.88449         6543.0

[13580 rows x 12 columns]

## Normalization

In [27]:
from sklearn.preprocessing import StandardScaler , MinMaxScaler

In [28]:
import warnings
warnings.filterwarnings('ignore')

In [29]:
normalizer = MinMaxScaler()

In [30]:
temp_data.dropna(axis = 1 , inplace = True)

In [31]:

normalized_data = normalizer.fit_transform(temp_data)

In [32]:
pd.DataFrame(normalized_data , columns = temp_data.columns)

         Suburb     Rooms     Price  ...  Lattitude  Longtitude  Propertycount
0      0.000000  0.111111  0.156478  ...   0.494755    0.517651       0.176160
1      0.000000  0.111111  0.106562  ...   0.484031    0.513083       0.176160
2      0.000000  0.222222  0.154795  ...   0.482223    0.513997       0.176160
3      0.000000  0.222222  0.085810  ...   0.498243    0.516281       0.176160
4      0.000000  0.333333  0.169938  ...   0.484936    0.513723       0.176160
...         ...       ...       ...  ...        ...         ...            ...
13575  0.964856  0.333333  0.130118  ...   0.357781    0.672246       0.333769
13576  0.974441  0.222222  0.106113  ...   0.417664    0.408601       0.286482
13577  0.974441  0.222222  0.121705  ...   0.426100    0.416221       0.286482
13578  0.974441  0.333333  0.270892  ...   0.417909    0.421346       0.286482
13579  1.000000  0.333333  0.134605  ...   0.478889    0.413580       0.294098

[13580 rows x 11 columns]

## Standardization

In [33]:
standard_scaler = StandardScaler()

In [34]:
standardized_data = standard_scaler.fit_transform(temp_data)

In [35]:
pd.DataFrame(standardized_data , columns = temp_data.columns)

         Suburb     Rooms     Price  ...  Lattitude  Longtitude  Propertycount
0     -1.719825 -0.981463  0.632448  ...   0.121160    0.030640      -0.784625
1     -1.719825 -0.981463 -0.063640  ...   0.016437   -0.017478      -0.784625
2     -1.719825  0.064876  0.608984  ...  -0.001227   -0.007855      -0.784625
3     -1.719825  0.064876 -0.353025  ...   0.155226    0.016204      -0.784625
4     -1.719825  1.111216  0.820157  ...   0.025269   -0.010742      -0.784625
...         ...       ...       ...  ...        ...         ...            ...
13575  1.624415  1.111216  0.264851  ...  -1.216516    1.659041      -0.014256
13576  1.657636  0.064876 -0.069897  ...  -0.631709   -1.118028      -0.245389
13577  1.657636  0.064876  0.147533  ...  -0.549318   -1.037767      -0.245389
13578  1.657636  1.111216  2.227975  ...  -0.629311   -0.983779      -0.245389
13579  1.746225  1.111216  0.327421  ...  -0.033780   -1.065579      -0.208161

[13580 rows x 11 columns]


**Handling With Missing Values**

In [36]:
data.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [38]:
data['BuildingArea'].isnull().sum()

6450

**Simple Imputer**

In [39]:
from sklearn.impute import SimpleImputer

In [40]:
imputer = SimpleImputer(missing_values=np.nan , strategy='mean')

In [41]:
ba_col = imputer.fit_transform(data['BuildingArea'].values.reshape(-1,1))

In [42]:
pd.DataFrame(ba_col).isnull().sum()

0    0
dtype: int64

In [43]:
data['BuildingArea'].isnull().sum()

6450


**Discretization**

In [44]:
from sklearn.preprocessing import KBinsDiscretizer

In [45]:
temp_data.head()

   Suburb  Rooms      Price  ...  Lattitude  Longtitude  Propertycount
0       0      2  1480000.0  ...   -37.7996    144.9984         4019.0
1       0      2  1035000.0  ...   -37.8079    144.9934         4019.0
2       0      3  1465000.0  ...   -37.8093    144.9944         4019.0
3       0      3   850000.0  ...   -37.7969    144.9969         4019.0
4       0      4  1600000.0  ...   -37.8072    144.9941         4019.0

[5 rows x 11 columns]

## Quantile Discretization Transform

In [47]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='quantile')
new_data = trans.fit_transform(temp_data)

In [48]:
pd.DataFrame(new_data,columns = temp_data.columns )

       Suburb  Rooms  Price  ...  Lattitude  Longtitude  Propertycount
0         0.0    1.0    8.0  ...        5.0         4.0            2.0
1         0.0    1.0    5.0  ...        4.0         4.0            2.0
2         0.0    2.0    8.0  ...        4.0         4.0            2.0
3         0.0    2.0    4.0  ...        5.0         4.0            2.0
4         0.0    3.0    8.0  ...        4.0         4.0            2.0
...       ...    ...    ...  ...        ...         ...            ...
13575     9.0    3.0    7.0  ...        1.0         9.0            5.0
13576     9.0    2.0    5.0  ...        2.0         1.0            4.0
13577     9.0    2.0    6.0  ...        2.0         1.0            4.0
13578     9.0    3.0    9.0  ...        2.0         1.0            4.0
13579     9.0    3.0    7.0  ...        4.0         1.0            4.0

[13580 rows x 11 columns]

**Uniform Discretization Transform**

In [49]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='uniform')
new_data = trans.fit_transform(temp_data)

pd.DataFrame(new_data,columns = temp_data.columns )

       Suburb  Rooms  Price  ...  Lattitude  Longtitude  Propertycount
0         0.0    1.0    1.0  ...        4.0         5.0            1.0
1         0.0    1.0    1.0  ...        4.0         5.0            1.0
2         0.0    2.0    1.0  ...        4.0         5.0            1.0
3         0.0    2.0    0.0  ...        4.0         5.0            1.0
4         0.0    3.0    1.0  ...        4.0         5.0            1.0
...       ...    ...    ...  ...        ...         ...            ...
13575     9.0    3.0    1.0  ...        3.0         6.0            3.0
13576     9.0    2.0    1.0  ...        4.0         4.0            2.0
13577     9.0    2.0    1.0  ...        4.0         4.0            2.0
13578     9.0    3.0    2.0  ...        4.0         4.0            2.0
13579     9.0    3.0    1.0  ...        4.0         4.0            2.0

[13580 rows x 11 columns]

# KMeans Discretization Transform

In [50]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='kmeans')
new_data = trans.fit_transform(temp_data)

pd.DataFrame(new_data,columns = temp_data.columns )

       Suburb  Rooms  Price  ...  Lattitude  Longtitude  Propertycount
0         0.0    1.0    2.0  ...        5.0         5.0            1.0
1         0.0    1.0    1.0  ...        4.0         5.0            1.0
2         0.0    2.0    2.0  ...        4.0         5.0            1.0
3         0.0    2.0    1.0  ...        5.0         5.0            1.0
4         0.0    3.0    3.0  ...        5.0         5.0            1.0
...       ...    ...    ...  ...        ...         ...            ...
13575     9.0    3.0    2.0  ...        2.0         8.0            3.0
13576     9.0    2.0    1.0  ...        3.0         3.0            3.0
13577     9.0    2.0    2.0  ...        3.0         3.0            3.0
13578     9.0    3.0    4.0  ...        3.0         3.0            3.0
13579     9.0    3.0    2.0  ...        4.0         3.0            3.0

[13580 rows x 11 columns]